<ion-view view-title="登陆">
  <ion-content ng-controller="LoginCtrl">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="账号" ng-model="account">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="密码" ng-model="password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive activated" ng-click="login()">登陆</button>
    </div>
  </ion-content>
</ion-view>
