<ion-view view-title="学习">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider study-header">
        <div class="study-word">acquaint</div>
        <div class="study-phonetic">[əˈkweɪnt] <i class="icon icon-right ion-volume-medium"></i></div>
      </div>
      <div class="item item-text-wrap" animation="slide-left-right-ios7" >
        <ion-slide-box active-slide="studyActiveSlide">
          <ion-slide>
            <div class="box">
              <div class="study-mean">vt.使认识,使了解,使熟悉</div><br>
              <hr>
              <div class="study-example">be accquainted with each other</div><br>
              <div class="study-chinese-example">相互认识</div><br>
              <div class="study-example">acquaint the mayor</div><br>
              <div class="study-chinese-example">认识市长</div><br>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="box">
              <div class="study-mean">vt.使认识,使了解,使熟悉</div><br>
              <hr>
              <div class="study-example">be accquainted with each other</div><br>
              <div class="study-chinese-example">相互认识</div><br>
              <div class="study-example">acquaint the mayor</div><br>
              <div class="study-chinese-example">认识市长</div><br>
            </div>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>
    <div class="row">
      <div class="col col-33"><button class="button study-button">太简单了</button></div>
      <div class="col col-67"><button class="button button-balanced study-button">继续学习</button></div>
    </div>
  </ion-content>
</ion-view>
