<ion-view view-title="自己">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/zorro_logo.jpg">
        <h2>zorro_ku_o</h2>
        <p>PHPER</p>
      </div>
      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-ios-list"></i>
        单词本
      </a>
      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-ios-paper"></i>
        短语本
      </a>
      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-ios-pie"></i>
        学习统计
      </a>

    </div>
  </ion-content>
</ion-view>
