<ion-view view-title="单词">
  <ion-content class="padding">
    <div class="list card">


     <div class="item item-content assertive">
       <div class="study-plane">
         <h1 id="study-num">{{studyNum}}</h1>
       </div>
     </div>
    <div class="list">
      <div class="item range range-positive">
        <i class="icon ion-ios-sunny-outline"></i>
        <input type="range" name="volume" min="0" max="100" value="{{rangeValue}}">
        <i class="icon ion-ios-sunny"></i>
      </div>
    </div>
      <a class="item item-icon-left assertive" href="javascript:;">
        <i class="icon ion-ios-pricetags"></i>
        <div ng-click="adjustPlan()">调整计划</div>
      </a>

    </div>

    <button class="button button-block button-positive" ng-click="startStudy()">
      {{studyMsg}}
    </button>
    <button class="button button-block button-stable activated">
      巩固熟词
    </button>

  </ion-content>
</ion-view>

