<ion-view view-title="单词">
  <ion-content class="padding">
    <div class="list card">


     <div class="item item-content assertive">
       <div class="study-plane">
           <h1 id="study-num" class="text-center">{{nowStudyNum}}</h1>
       </div>
     </div>
      <a class="item item-icon-left assertive" href="javascript:;">
        <i class="icon ion-ios-pricetags"></i>
        <div>今日学习数</div>
      </a>

    </div>

    <button class="button button-block button-positive" ng-click="startStudy()">
      {{studyMsg}}
    </button>
    <button class="button button-block button-stable activated">
      巩固熟词
    </button>

  </ion-content>
</ion-view>

