<ion-view view-title="更多">
  <ion-content>
    <div class="list">
      <a class="item item-icon-left item-icon-right" href="javascript:;" ng-click="toSearch()">
        <i class="icon ion-ios-list"></i>
        单词查询
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="javascript:;" ng-click="toTranslation()">
        <i class="icon ion-ios-paper"></i>
        翻译
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="javascript:;" ng-click="toFeedback()">
        <i class="icon ion-cube"></i>
        意见反馈
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="http://sspai.com/" ng-click="toOther()">
        <i class="icon ion-android-playstore"></i>
        必备应用
        <i class="icon ion-chevron-right"></i>
      </a>

    </div>
  </ion-content>
</ion-view>
