<ion-view view-title="学习">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider study-header">
        <div class="study-word">{{wordData.word}}</div>
        <div class="study-phonetic" ng-click="playAudio()">{{wordData.pronunciation}}
          <i class="icon icon-right ion-volume-medium" ng-click="playAudio()"><audio popover-title="{{audio}}"  ng-src="{{sce(audio)}}" id="audio"></audio></i>
        </div>
      </div>
      <div class="item item-text-wrap" animation="slide-left-right-ios7" >
        <ion-slide-box active-slide="studyActiveSlide">
          <ion-slide>
            <div class="box">
              <div class="study-mean">{{wordData.definition}}</div><br>
              <hr style="width: 100%">
              <div class="study-chinese-example">{{wordData.en_definition.defn}}</div><br>
              <!--<div class="study-example">acquaint the mayor</div><br>-->
              <!--<div class="study-chinese-example">认识市长</div><br>-->
            </div>
          </ion-slide>
          <ion-slide>
              <div class="box">
                <div class="study-mean">{{wordData.example}}</div><br>
              </div>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>
    <div class="row">
      <div class="col col-33"><button class="button study-button" ng-click="nextWord(1)">太简单了</button></div>
      <div class="col col-67"><button class="button button-balanced study-button" ng-click="nextWord(0)">继续学习</button></div>
    </div>
  </ion-content>
</ion-view>
