<ion-view view-title="自己">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="{{ head }}">
        <h2>{{ nickname }}</h2>
        <p>Good Man</p>
      </div>
      <a class="item item-icon-left assertive" href="javascript:;" ng-click="toSearch()">
        <i class="icon ion-ios-list"></i>
        单词查询
      </a>
      <a class="item item-icon-left assertive" href="javascript:;" ng-click="toTranslation()">
        <i class="icon ion-ios-paper"></i>
        翻译
      </a>
      <a class="item item-icon-left assertive" href="javascript:;" ng-click="toStatistics()">
        <i class="icon ion-ios-pie"></i>
        学习统计
      </a>
      <a class="item item-icon-left assertive" ng-click="exit()">
        <i class="icon ion-log-out"></i>
        退出
      </a>
    </div>
  </ion-content>
</ion-view>
