<ion-view view-title="自己">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar" ng-click="toSet()">
        <img src="{{ head }}">
        <h2>{{ nickname }}</h2>
        <p>Good Man</p>
      </div>
      <a class="item item-icon-left assertive" href="javascript:;" ng-click="toVocabulary()">
      <i class="icon ion-ios-bookmarks-outline"></i>
      生词本
      </a>
      <a class="item item-icon-left assertive" href="javascript:;" ng-click="toStatistics()">
        <i class="icon ion-ios-pie-outline"></i>
        学习统计
      </a>
      <a class="item item-icon-left assertive" href="javascript:;" ng-click="modifyPassword()">
        <i class="icon ion-ios-locked-outline"></i>
        修改密码
      </a>
      <a class="item item-icon-left assertive" ng-click="exit()">
        <i class="icon ion-log-out"></i>
        退出
      </a>
    </div>
  </ion-content>
</ion-view>
