<ion-view view-title="单词">
  <ion-content class="padding">
    <div class="list card">


     <div class="item item-content assertive">
       <div class="study-plane">
         <h1 style="padding: 29% 29%;">50</h1>
       </div>

     </div>
      <a class="item item-icon-left assertive" href="javascript:;">
        <i class="icon ion-ios-pricetags"></i>
        <div ng-click="adjustPlan()">调整计划</div>
      </a>


    </div>

    <button class="button button-block button-positive" ng-click="startStudy()">
      开始学习
    </button>
    <button class="button button-block button-stable activated">
      巩固熟词
    </button>

  </ion-content>
</ion-view>
